@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(1.22deg, #feef67 7.21%, #fee60f 92.28%);
}

.card,
.modal-content {
    border-radius: 20px;
    background: linear-gradient(180deg, #fffdeb 11.98%, #fefad7 85.42%);
}

.placeholder {
    display: none;
    position: absolute;
    background-size: cover;
    text-align: center;
    float: left;
    z-index: 300000;
}

.loader {
    border: 16px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-top: 16px solid #ffffff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-primary {
    border-radius: 60px;
    background-color: #ff2626;
    border-color: #ff2626;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff5100;
    border-color: #ff5100;
}

.border-h2 {
    border-radius: 60px;
    background: linear-gradient(180deg, #fffdeb 11.98%, #fefad7 85.42%);
    padding-left: 20px;
    padding-right: 20px;
}

.bg-secondary {
    background: linear-gradient(1.22deg, #feef67 7.21%, #fee60f 92.28%);
}

/* Countdown */
#countdown1 {
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(255, 253, 235, 0.7), rgba(254, 250, 215, 0.7));
    /* background: linear-gradient(180deg, #fffdeb 11.98%, #fefad7 85.42%); */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    pointer-events: none;
    z-index: 1;
}

.base-timer {
    position: relative;
    width: 120px;
    height: 120px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: white;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.gray {
    color: yellow;
}

.base-timer__label {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
/* Countdown */
